@import './base.css';

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(226, 226, 226);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 60%, 0.2);
  }
}


/* TOAST CSS */
.Vue-Toastification__toast {
  padding: 6px 10px !important;
  min-height: 45px !important;
  align-items: center;
}
.Vue-Toastification__progress-bar, .Vue-Toastification__close-button{
  opacity: 0 !important;
}
.Vue-Toastification__toast-body {
  font-size: 14px !important;
  font-weight: 500;
  line-height: initial !important;
}